/*
  $Id: fpdoc.css,v 1.4 2001/09/08 12:08:32 sg Exp $

  Default style sheet for FPDoc reference documentation
  by Sebastian Guenther, sg@freepascal.org

  Feel free to use this file as a template for your own style sheets.
*/

/* Modified by Ñuño Martínez <niunio@users.sourceforge.net> */
body {
	background-color: #F9F9F9;
	border-style: none;
	color: black;
	font-size: 16px;
	font-style: normal;
	text-align: left;
	text-decoration: none;
	margin: 16px;
	padding: 0px;
}

a:link {
  color: blue
}

a:visited {
  color: darkblue
}

a:active {
  color: red
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

caption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: auto;
}

dt {
	font-weight: bold;
	text-decoration: underline;
}

h1, h2, h3 {
	color: #005A9C;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bolder;
	margin: 10px 10px 0px 0px;
	padding: 0px;
	text-decoration: none;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 25px;
}

p, td {
  font-family: "Times New Roman", Roman, serif;
}

pre, td.pre {
	background: navy;
	color: yellow;
	font-family: Courier, monospace;
	font-size: 12px;
	margin: 10px;
	padding: 12px;
	white-space: pre
	width: 160px;
}

th {
  color: black;
	font-family: Arial, Helvetica, sans-serif;
}

var {
	font-family: Courier, monospace;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}

/*********
 * Código fuente "normal". */
tt, span.kw {
  font-family: Courier, monospace
}

/* symbols in source fragments */
span.sym {
  color: darkred
}

/* keywords in source fragments */
span.kw {
  font-weight: bold
}

/* comments in source fragments */
span.cmt {
  color: darkcyan;
  font-style: italic
}

/* directives in source fragments */
span.dir {
  color: darkyellow;
  font-style: italic
}

/* numbers in source fragments */
span.num {
  color: darkmagenta
}

/* characters (#...) in source fragments */
span.chr {
  color: darkcyan
}

/* strings in source fragments */
span.str {
  color: blue
}

/* assembler passages in source fragments */
span.asm {
  color: green
}


/*********
 * Código fuente de los ejemplos. */

/* symbols in source fragments */
pre span.sym {
  color: white;
  font-weight: bold;
}

/* keywords in source fragments */
pre span.kw {
	color: white;
  font-weight: bold
}

/* comments in source fragments */
pre span.cmt {
  color: lightgray;
  font-style: italic;
}

/* directives in source fragments */
pre span.dir {
  color: lime;
  font-style: normal;
}

/* numbers in source fragments */
pre span.num {
  color: magenta
}

/* characters (#...) in source fragments */
pre span.chr {
  color: lime;
}

/* strings in source fragments */
pre span.str {
  color: lime
}

/* assembler passages in source fragments */
pre span.asm {
  color: cyan
}

/* Fin del código fuente
 *************/

p.cmt {
  color: gray
}

span.warning {
  color: red;
  font-weight: bold
}

/* !!!: How should we define this...? */
span.file {
  color: darkgreen
}

table.bar {
  background-color: #a0c0ff;
}

span.bartitle {
  font-weight: bold;
  font-style: italic;
  color: darkblue
}

/*********
 * Remark */
table.remark {
	background-color: #a0c0ff;
}
table.remark td.pre {
	background-color: #a0c0ff;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
